%h2 Steps
.list-group
  - @recipe.steps.order(:order).each do |step|
    .list-group-item
      .row
        .col-12.d-md-none.d-l-none.d-xl-none
          %h3="Step #{step.order}"
        .col-md-1.d-none.d-md-block.d-l-block.d-xl-block
          .btn.btn-primary
            = step.order
        .col-12.col-md-11
          = form_for [@recipe, step] do |f|
            .form-group
              = f.label :image
              = f.text_field :image, id: "step_#{step.order}_image", class: "form-control"
            .form-group
              = f.label :description
              = f.text_area :description, id: "step_#{step.order}_description", class: "form-control"
            .form-group
              = f.label :seconds
              = f.number_field :seconds, id: "step_#{step.order}_seconds", class: "form-control"
            .form-group
              = f.submit 'Save', class: "btn btn-primary"
              = link_to "Delete", recipe_step_path(@recipe, step), method: "delete", class: "btn btn-danger", data: {confirm: 'Are you sure?'}
              - if step.order!=1
                = link_to 'Up', recipe_step_up_path(@recipe, step), method: 'put', class: "btn btn-warning"
              - if step.order!=@recipe.steps.count
                = link_to 'Down', recipe_step_down_path(@recipe, step), method: 'put', class: "btn btn-warning"
= button_to "New step", new_recipe_step_path(@recipe), method: "get", class: "btn btn-success"
