= form_for @recipe do |f|
  .form-group.row
    = f.label :name, class: "col-12 col-md-2"
    = f.text_field :name, class: "form-control col-12 col-md-10"
  .form-group.row
    = f.label :image, class: "col-12 col-md-2"
    = f.text_field :image, class: "form-control col-12 col-md-10"
  .form-group
    %h2 Ingredients
    .alert.alert-primary
      Select some ingredients by filling the quantity in grams

    .list-group.scrollable
      - Ingredient.all.each do |ingredient|
        .list-group-item
          .row
            .col-6.col-md-8
              = label_tag ingredient.name
            .col-6.col-md-4
              .row
                .col-9
                  = text_field_tag "ingredients[#{ingredient.id}]", @recipe.quantity(ingredient), id: "#{ingredient.name}_quantity", class: "form-control"
                .col-2 g
            %br

  = f.submit @recipe.persisted? ? "Save" : "Create steps", class: "btn btn-primary"
