.card
  %img.card-img-top{:alt => "#{recipe.name}", :src => "#{recipe.image}"}/
  .card-body
    %h5.card-text=recipe.name
  .card-footer
    .row
      = button_to "Cook", recipe, method: "get", class: "btn btn-primary"
      = button_to "Edit", edit_recipe_path(recipe), method: "get", class: "btn btn-success"
      = button_to "Delete", recipe, method: "delete", class: "btn btn-danger", data: { confirm: "Are your sure?"}
