

.row
  .col-11.offset-1
    %h1.text-center=@recipe.name
    .text-center.text-muted.mb-4="Time: #{@recipe.cook_time} seconds"
  .col-md-4.offset-md-1
    = image_tag @recipe.image, class: "img-fluid"
    .card
      .card-header Nutritional info
      .card-body
        %table.table
          %tbody
            %tr
              %th{scope: "row"} Energy
              %td=((@recipe.energy*100).round/100.0).to_s + " kcal"
            %tr
              %th{scope: "row"} Fat
              %td=((@recipe.fat*100).round/100.0).to_s + " g"
            %tr
              %th{scope: "row"} Proteins
              %td=((@recipe.proteins*100).round/100.0).to_s + " g"
            %tr
              %th{scope: "row"} Carbohydrates
              %td=((@recipe.carbohydrates*100).round/100.0).to_s + " g"
    .card
      .card-header Ingredients
      .card-body
        %ul
          - @recipe.recipe_ingredients.each do |ri|
            %li="#{ri.quantity}g #{ri.ingredient.name}"

  .col-md-6
    %h2.my-4 Steps
    - if @recipe.steps.empty?
      .alert.alert-danger
        This recipe has no steps
    - else
      .list-group
        - @recipe.steps.order(:order).each do |step|
          .list-group-item
            .row
              .col-md-1.d-none.d-md-block
                .btn.btn-primary
                  = step.order
              .col-12.col-md-3
                = image_tag step.image, class: "img-fluid"
              .col-12.col-md-8
                .row
                  .col-12
                    .text-muted="Time: #{step.seconds}s"
                  .col-12
                    = step.description
