= form_for @ingredient do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :energy
    = f.text_field :energy, class: "form-control"
  .form-group
    = f.label :fat
    = f.text_field :fat, class: "form-control"
  .form-group
    = f.label :proteins
    = f.text_field :proteins, class: "form-control"
  .form-group
    = f.label :carbohydrates
    = f.text_field :carbohydrates, class: "form-control"
  .form-group.row
    = f.submit 'Save', class: "btn btn-success"
    = link_to 'Back', ingredients_path, class: "btn btn-danger"
