.row.bottom-bar-container
  .col-md-4.offset-md-4
    %h1 Ingredients
    %ul.list-group
      - @ingredients.each do |ingredient|
        %li.list-group-item.d-flex.justify-content-between.align-items-center
          = link_to ingredient.name, ingredient
          .row
            = link_to "Edit", edit_ingredient_path(ingredient), class: "btn btn-primary"
            = link_to "Delete", ingredient, method: "delete", class: "btn btn-danger", data: { confirm: "Are your sure?"}
%nav.navbar.fixed-bottom.navbar-light.bg-light
  = button_to "New ingredient", new_ingredient_path, method: "get", class: "btn btn-success"
