.row
  .col-md-4.offset-md-4
    %h1= @ingredient.name

    %h2 Values per 100g

    %table.table
      %tbody
        %tr
          %th{scope: "row"} Energy (kcal)
          %td=@ingredient.energy
        %tr
          %th{scope: "row"} Fat (g)
          %td=@ingredient.fat
        %tr
          %th{scope: "row"} Proteins (g)
          %td=@ingredient.proteins
        %tr
          %th{scope: "row"} Carbohydrates (g)
          %td=@ingredient.carbohydrates


    = link_to 'Edit', edit_ingredient_path(@ingredient), class: "btn btn-primary"
    = link_to 'Back', ingredients_path, class: "btn btn-danger"
