= form_for [@recipe, @step] do |f|
  .form-group
    = f.label :image
    = f.text_field :image, class: "form-control"
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
  .form-group
    = f.label :seconds
    = f.number_field :seconds, class: "form-control"
  .form-group
    = f.submit 'Next step', class: "btn btn-primary"
    = f.submit 'Finish', name: 'finish', class: "btn btn-success"
