- flash.each do |type, messages|
  %div{class: "#{flash_class(type)} alert-dismissible fade show", role: "alert"}
    - messages.each do |message|
      %p=message
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
