%nav.navbar.navbar-expand.navbar-light.bg-light
  = link_to "Recigram", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to "Recipes", recipes_path, class: "nav-link #{active_class(recipes_path)} "
      %li.nav-item
        = link_to "Ingredients", ingredients_path, class: "nav-link #{active_class(ingredients_path)}"
